body{
	padding-top: 50px;
}

#headerWrapper{
	position: relative;
	padding:0;
	margin:0;
	overflow: hidden;
	height: 600px;
	background-image: url(../images/headerlogo/background.png);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: top center;
	background-attachment: fixed;
}

#logotext{
	position: absolute;
	width: 100%;
	height: 180px;
	background-image: url(../images/headerlogo/text.png);
}